.header{
    background-color: gray;
    
}
#home{
    color: #d6e9c6;
}
.home{
    text-align: end;
}
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:32px;
  width:226px;
}
 
#btnBusca{
  float:left;
  cursor:pointer;
}
 
#divBusca img{
  float:left;
}
 
#divBusca{
  border:solid 10px rgba(47, 79, 79, 0.8);
  border-radius:10px;
  height:37px;
  width:400px;
}
.admin{
    background-color: #ac2925;
}
.login{
    align-items: center;
}



