{% extends "base.html" %}

{% block title %} Pecas {% endblock %}

{% block header %} {% include 'main-menu.twig' %} {% endblock %}

{% block conteudo %} 

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div
                    class="banner_content d-md-flex justify-content-between align-items-center"
                    >
                    <div class="mb-3 mb-md-0">
                        <h2>Gerenciar Pecas</h2>
                        <p>Bem Vindo de volta {{ user.0.nome }}</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
        <div class="container">
            <div id="listar-produtos" >
                <div class="row">
                    <div class="col-md-12 form-group">
                        <a class="main_btn"  onclick="abrirtelaCadastro();" href="#cadastrar">Cadastrar Peça</a>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-12 cart_inner">
                        <div class="table-responsive list-pecas">
                            {% if pecas %}
                                <table class="table" id="tabela-produtos">
                                    <thead style="display: block; ">
                                        <tr>
                                            <th>Buscar por</th>
                                        </tr>
                                        <tr> 
                                            <th>Codigo: <input type="text" id="buscaCodigo"/></th>
                                            <th>Nome: <input type="text" id="buscaNome"/></th>
                                            <th>Preço: <input type="text" id="buscaPreco"/></th>
                                        </tr>  
                                    </thead>
                                    <tbody style="
                                           display: block; height: 400px;
                                           overflow-y: auto;
                                           ">
                                        {% for pec in pecas %}
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <div class="d-flex">
                                                            <img style="width: 125px; height: 125px;"
                                                                 src="/imgPecas/{{ pec.imagem }}"
                                                                 alt=""
                                                                 />
                                                        </div>


                                                    </div>
                                                </td>
                                                <td>
                                                    <h5>{{ pec.codigo }}</h5>
                                                </td>
                                                <td>
                                                    <h5>{{ pec.nome }}</h5>
                                                </td>
                                                <td>
                                                    <h5 id="total-{{ pec.id }}">R${{ pec.preco }}</h5>
                                                </td>
                                                <td>
                                                    <button type="button" onclick="abrirTelaEditar({{ pec.id }})" class="genric-btn info">Editar  </button>
                                                    <button type="button" class="genric-btn warning" onclick="remove(this,{{ pec.id }}, {{ pec.imagem }} );">Excluir</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    <p> Não há pecas Cadastradas</p>
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="border: #000; border-style: double; margin-top: 25px; display: none;" id="cadastrar">

                <div id="form">
                    {% include 'editar-peca.twig' %}
                </div>
            </div>

        </div>


    </div>

</section>




{% endblock %}



{% block footer %} {% include 'footer.twig' %} {% endblock %}