<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
  
        <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="/vendors/linericon/style.css" rel="stylesheet" type="text/css"/>
        <link href="/vendors/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/themify-icons.css" rel="stylesheet" type="text/css"/>
        <link href="/css/flaticon.css" rel="stylesheet" type="text/css"/>
        <link href="/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" type="text/css"/>
        <link href="/vendors/lightbox/simpleLightbox.css" rel="stylesheet" type="text/css"/>
        <link href="/vendors/nice-select/css/nice-select.css" rel="stylesheet" type="text/css"/>
        <link href="/vendors/animate-css/animate.css" rel="stylesheet" type="text/css"/>
        <link href="/vendors/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="/css/responsive.css" rel="stylesheet" type="text/css"/>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        {% block header %}{% endblock %}
        {% block conteudo %}{% endblock %}
        {% block footer %}{% endblock %}

        <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="/js/jquery.mask.min.js" type="text/javascript"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/stellar.js"></script>
        <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/vendors/isotope/isotope-min.js"></script>
        <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/vendors/jquery-ui/jquery-ui.js"></script>
        <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/vendors/counter-up/jquery.counterup.js"></script>
        <script src="/js/theme.js"></script>
        <script src="/js/funcoes.js" type="text/javascript"></script>
        <script src="/js/mail-script.js"></script>

    </body>
</html>
