{% extends "base.html" %}

{% block title %} Carrinho {% endblock %}

{% block header %}
    {% include 'main-menu.twig' %} 
{% endblock %}


{% block conteudo %}
    {% set total = 0.00 %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div
                    class="banner_content d-md-flex justify-content-between align-items-center"
                    >
                    <div class="mb-3 mb-md-0">
                        <h2>Carrinho</h2>
                        <p>Bem Vindo de volta {{ user.0.nome }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    {% if pecas %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Peca</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pec in pecas %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img style="width: 125px; height: 125px;"
                                                src="/imgPecas/{{ pec.imagem }}"
                                                alt=""
                                                />
                                        </div>
                                        <div class="media-body">
                                            <p>{{ pec.nome }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{ pec.preco }}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input
                                            type="text"
                                            name="qty"
                                            id="sst-{{ pec.id }}"
                                            maxlength="12"
                                            value="{{ pec.qtd }}"
                                            title="Quantity:"
                                            class="input-text qty"
                                            
                                            >
                                        <button
                                            onclick="var result = document.getElementById('sst-{{ pec.id }}'); var sst = result.value; if (!isNaN(sst)) result.value++; 
                                                adicionarAoCarrinho(result.value, {{ pec.id }});
                                                $('#total-{{ pec.id }}').html('R$ '+result.value * {{ pec.preco }});
                                                var aux = $('#total').html();
                                                var total = parseFloat(aux);
                                                $('#total').html(total+{{ pec.preco }});
                                                return false;"
                                            class="increase items-count"
                                            type="button"
                                            >
                                            <i class="lnr lnr-chevron-up"></i>
                                        </button>
                                        <button
                                            onclick="var result = document.getElementById('sst-{{ pec.id }}'); var sst = result.value; if ( sst > 0) result.value--; 
                                                adicionarAoCarrinho(result.value, {{ pec.id }});
                                                $('#total-{{ pec.id }}').html('R$ '+result.value * {{ pec.preco }});
                                                var aux = $('#total').html();
                                                var total = parseFloat(aux);
                                                $('#total').html(total-{{ pec.preco }})
                                                return false;"
                                            class="reduced items-count"
                                            type="button"
                                            >
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5 id="total-{{ pec.id }}">R$ {{ pec.preco * pec.qtd }}</h5>
                                    <div id="{{ pec.id }}" style="display: none" >{{ pec.id }}</div>
                                </td>
                            </tr>
                            {%set  total = total + (pec.qtd*pec.preco) %}
                            {% endfor %}
                        {% else %}
                        <p> Não há pecas no carrinho</p>
                        {% endif %}
                            
                            
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Total</h5>
                                </td>
                                <td>
                                <h5 id="total">{{ total }}</h5>
                                </td>
                            </tr>
                            
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner">
                                        <a class="gray_btn" href="javascript:history.back(-2)">Continuar Compras</a>
                                        <a class="main_btn" href="/checkout">Finalizar</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}






{% block footer %} 

    {% include 'footer.twig' %}
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
{% endblock %}
