{% extends "base.html" %}

{% block conteudo %}
    <div>
        <form
            class="row contact_form"
            method="post"
            novalidate="novalidate"
            id="salvar-peca"
            style="padding: 10px;"
            >
            
            <div class="col-md-6 form-group p_star">
                <label for="codigo">Código</label>
                <input
                    type="text"
                    class="form-control"
                    id="codigo"
                    name="codigo"
                    placeholder="Código"
                    value="{{ peca.codigo }}"
                    >
                <div id="retorno-cod" style="color: red"></div>
            </div>
            <div class="col-md-6 form-group p_star">
                <label for="nome">Nome</label>
                <input type="text"
                       class="form-control"
                       id="nome"
                       name="nome"
                       placeholder="Nome"
                       value="{{ peca.nome }}">

            </div>

            <div class="col-md-12 form-group">
                <label for="descricao">Caracteristicas</label>
                <textarea class="form-control" id="descricao" name="descricao" placeholder="Descrição"  rows="10" cols="40">{{ peca.descricao }}</textarea>
            </div>
            <div class="col-md-6 form-group p_star">
                <label for="preco">Preco</label>
                <input
                    type="text"
                    class="form-control"
                    id="preco"
                    name="preco"
                    placeholder="Preco"
                    value="{{ peca.preco }}"
                    >


                <div class="form-group col-md-6" id="categorias">
                    <legend class="col-form-label">Aplicação</legend>
                    {% if acao == 'cadastrar' %}
                        {% for maquina in maquinas %}
                            <div class="form-check">

                                <input class="form-check-input" type="checkbox" name="aplicacao[]" value="{{ maquina.id_maquina }}">
                                <label class="form-check-label">
                                    {{ maquina.modelo }}
                                </label>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for maquina in maquinas %}
                            <div class="form-check">

                                <input class="form-check-input" type="checkbox" name="aplicacao[]" value="{{ maquina.id_maquina }}" 
                                       {% if maquina.status == 'true'%} checked="{{ maquina.status }}"
                                       {% endif %}>
                                <label class="form-check-label">
                                    {{ maquina.modelo }}
                                </label>
                            </div>
                       {% endfor %}
                        
                    {% endif %}
                    

                </div>
                    <input placeholder="Modelo" type="text" name="modelo" id="modelo"> 
                    <a class="gray_btn" href="#" onclick="adicionarMaquina()">   Add Maquina</a>
                    
                    
            </div>
            <div class="col-md-6 form-group p_star">
                <img style="width: 165px; height: 165px;" id="preview" 
                     {% if acao == 'editar' %} src="/imgPecas/{{ peca.imagem }}" {% endif %}>
                <input type="file" name="imagem" id="imagem" onchange="previewImagem();" class="col-md-12">

            </div>
            <div class="col-md-4 form-group">
                <input type="text" name="id" value="{{ peca.id }}" style="display: none">
                <input type="text" id="acao" value="{{ acao }}" style="display: none">
                <input type="submit" class="main_btn" value="Salvar">
                <a class="gray_btn" href="/admin/pecas">Voltar</a>
                <div id="retorno-1"></div>
            </div>

        </form>

    </div>
{% endblock %}