{% extends "base.html" %}

{% block title %} {{ peca.nome }} {% endblock %}

{% block header %}
    {% include 'main-menu.twig' %} 
{% endblock %}

{% block conteudo %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div
                    class="banner_content d-md-flex justify-content-between align-items-center"
                    >
                    <div class="mb-3 mb-md-0">
                        <h2>Detalhes do Produto</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_product_img">
                        <img
                            class="d-block w-100"
                            src="/imgPecas/{{ peca.imagem }}"
                            alt="Third slide"
                            />
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <form id="add-peca-cart">
                        <div class="s_product_text">
                            <h3>{{ peca.nome }}</h3>
                            <h2>${{ peca.preco }}</h2>
                            <div class="product_count">
                                <label for="qty">Quantity:</label>
                                <input
                                    type="text"
                                    name="qty"
                                    id="sst"
                                    maxlength="12"
                                    value="1"
                                    title="Quantity:"
                                    class="input-text qty"
                                    />
                                <button
                                    onclick="var result = document.getElementById('sst');
                                            var sst = result.value;
                                            if (!isNaN(sst))
                                                result.value++;
                                            return false;"
                                    class="increase items-count"
                                    type="button"
                                    >
                                    <i class="lnr lnr-chevron-up"></i>
                                </button>
                                <button
                                    onclick="var result = document.getElementById('sst');
                                            var sst = result.value;
                                            if (sst > 0)
                                                result.value--;
                                            return false;"
                                    class="reduced items-count"
                                    type="button"
                                    >
                                    <i class="lnr lnr-chevron-down"></i>
                                </button>
                            </div>
                            <div class="card_area">

                                <input type="text" name="idPeca" value="{{ peca.id }}" style="display: none;">

                                {% if qtd > 0 %}
                                    <buton class="main_btn" onclick="var qtd = document.getElementById('sst');
                                            adicionarAoCarrinho(qtd.value, {{ peca.id }});" type="submit">Alterar Quantidade</buton>
                                    <a class="icon_btn">
                                        <i class="lnr lnr ti-shopping-cart-full" id="adicionados">  {{ qtd }}</i>
                                    </a>
                                {% else %}
                                    <buton class="main_btn" onclick="var qtd = document.getElementById('sst');
                                            adicionarAoCarrinho(qtd.value, {{ peca.id }});" type="submit">Add Carrinho</buton>
                                    <a class="icon_btn">
                                        <i class="lnr lnr ti-shopping-cart" id="adicionados" >  {{ qtd }}</i>
                                    </a>
                                {% endif %}

                                <div id="retorno"></div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a
                        class="nav-link"
                        id="contact-tab"
                        data-toggle="tab"
                        href="#caracteristicas"
                        role="tab"
                        aria-controls="contact"
                        aria-selected="true"
                        >Caracteristicas</a
                    >
                </li>

            </ul>
            <div class="tab-content" id="myTab">
                <div
                    class="tab-pane fade show active"
                    id="caracteristicas"
                    role="tabpanel"
                    aria-labelledby="contact-tab"
                    >
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="comment_list">
                                <div class="review_item">
                                    <p>
                                        {{ peca.descricao }}
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block footer %} 

    {% include 'footer.twig' %}
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
{% endblock %}
