{% extends "base.html" %}

{% block title %} Pecas {% endblock %}

{% block header %} {% include 'main-menu.twig' %} {% endblock %}

{% block conteudo %} 

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div
                    class="banner_content d-md-flex justify-content-between align-items-center"
                    >
                    <div class="mb-3 mb-md-0">
                        <h2>Seus Pedidos</h2>
                        <p>Bem Vindo de volta {{ user.0.nome }}</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
        <div class="container">
            <div id="listar-produtos" >
                <div class="row">

                    <div class="col-md-12 cart_inner">
                        <div class="table-responsive list-pecas">
                            {% if pedidos %}
                                <table class="table" id="tabela-pedidos">
                                    <thead >
                                        <tr>
                                            <td>
                                                <h5>
                                                    Data Pedido
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    Codigos Produtos
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                   Pecas
                                                </h5>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ped in pedidos %}
                                            <tr>
                                                <td>
                                                    <h5>{{ ped.data }}</h5>
                                                </td>
                                                <td>
                                                    {% for pec in ped.pecas %}
                                                    <h5>{{ pec.codigo_peca }}</h5>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                   {% for pec in ped.pecas %}
                                                    <h5>{{ pec.nome_peca }}</h5>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    <h5 {{ ped.total }}</h5>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    <p> Não há pedidos</p>
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>




{% endblock %}



{% block footer %} {% include 'footer.twig' %} {% endblock %}