{% extends "base.html" %}

{% block title %} Finalizar {% endblock %}

{% block header %}
    {% include 'main-menu.twig' %} 
{% endblock %}

{% block conteudo %}
{% set total =0 %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div
                    class="banner_content d-md-flex justify-content-between align-items-center"
                    >
                    <div class="mb-3 mb-md-0">
                        <h2>Pagamento e Entrega</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="cupon_area">
                <div class="check_title">
                    <h2>
                        Tem um cupom?
                    </h2>
                </div>
                <input type="text" placeholder="Etre código" />
                <a class="tp_btn" href="#">Aplicar cupon</a>
            </div>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Seus Dados</h3>
                        <form
                            class="row contact_form"
                            action="#"
                            method="post"
                            novalidate="novalidate"
                            >
                            <div class="col-md-6 form-group p_star">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="nome"
                                    name="nome"
                                    placeholder="Primeiro Nome"
                                    readonly
                                    value="{{user.0.nome}}"
                                    >
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text"
                                       class="form-control"
                                       id="sobrenome"
                                       name="sobrenome"
                                       placeholder="Sobrenome"
                                       readonly
                                       value="{{ user.0.sobrenome }}">

                            </div>

                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="" name="documento" placeholder="CPF" readonly
                                       value="{{ user.0.documento }}" >
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="number"
                                    name="fone"
                                    placeholder="Fone"
                                    readonly
                                    value="{{ user.0.telefone }}"
                                    >
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Endereço de email"
                                    readonly
                                    value="{{ user.0.email }}"
                                    >

                            </div>
                        </form>
                        <h3>Entrega</h3>
                        <form
                            class="row contact_form"
                            action="#"
                            method="post"
                            novalidate="novalidate"
                            id="endereco"
                            >

                            <div class="col-md-9 form-group p_star">
                                <select class="country_select form-control form-control">
                                    {% for end in enderecos %}
                                    <option value="0">{{ end.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 form-group p_star">
                                <a class="main_btn" href="#endereco">Novo</a>
                            </div>
                            <div class="col-md-9 form-group p_star">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="add1"
                                    name="rua"
                                    placeholder="Rua:"
                                    readonly
                                    value="{{ enderecos.0.rua }}"
                                    >
                            </div>
                            <div class="col-md-3 form-group p_star">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="add1"
                                    name="numero"
                                    placeholder="N°:"
                                    readonly
                                    value="{{ enderecos.0.numero }}"
                                    >
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="add2"
                                    name="bairro"
                                    placeholder="bairro:"
                                    readonly
                                    value="{{ enderecos.0.bairro }}"
                                    >
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="city"
                                    name="cidade"
                                    placeholder="Cidade:"
                                    readonly
                                    value="{{ enderecos.0.cidade }}"
                                    >
                            </div>
                            <div class="col-md-4 form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="zip"
                                    name="estado"
                                    placeholder="Estado"
                                    readonly
                                    value="{{ enderecos.0.estado }}"
                                    >
                            </div>
                            <div class="col-md-4 form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="zip"
                                    name="pais"
                                    placeholder="País"
                                    readonly
                                    value="{{ enderecos.0.pais }}"
                                    >
                            </div>
                            <div class="col-md-4 form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="zip"
                                    name="cep"
                                    placeholder="Cep"
                                    onkeypress="$(this).mask('00000-000')"
                                    readonly
                                    value="{{ enderecos.0.cep }}"
                                    >
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Produtos</h2>
                            <ul class="list">
                                <li>
                                    <a 
                                       >Produto
                                        <span>Total</span>
                                    </a>
                                </li>
                                {% for pec in pecas %}
                                <li>
                                    <a href="/pecas/detalhes/{{ pec.id }}"
                                       >{{ pec.nome }}
                                        <span class="middle">x {{ pec.qtd }}</span>
                                        <span class="last">${{ pec.qtd * pec.preco }}</span>
                                    </a>
                                </li>
                                {% set total = total + pec.qtd *pec.preco %}
                                {% endfor %}
                            </ul>
                            <ul class="list list_2">
                                <li>
                                    <a href="#"
                                       >Subtotal
                                        <span>${{ total }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a
                                       >Desconto
                                        <span>$00.00</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       >Total
                                        <span>${{ total }}</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector" checked />
                                    <label for="f-option6">Paypal </label>
                                    <img src="../img/card.jpg" alt="" />
                                    <div class="check"></div>
                                </div>
                                <p>
                                    Cheque se seus dados estão corretos
                                </p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector" checked />
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            <a class="main_btn" href="/adicionarPedido">Finalizar Pedido</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block footer %} 

    {% include 'footer.twig' %}
{% endblock %}
