{% block conteudo %}
<footer class="footer-area section_gap">
        <div class="container">
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>Promoçoes</h4>
                <p>Deixe seu contato, enviaremos as melhores Promoções</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank" method="get" class="form-inline">
                        <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                        <button class="click-btn btn btn-default">Enviar</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>
                    </form>
                </div>
            </div>
                <div class="footer-bottom row align-items-center">

                    <div class="col-lg-4 col-md-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
</footer>

{% endblock %}
