{% extends "base.html" %}

{%block title %}macpeças{% endblock %}

{% block header %}
    {% include 'main-menu.twig' %}
{% endblock %}

{% block conteudo %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area mb-40">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->


    <!--================ Feature Product Area =================-->

    <section class="feature_product_area section_gap_bottom_custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="main_title">
                        <h2><span>Mais Vendidos</span></h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">

                    <div class="single-product">
                        <div class="product-img">

                            <img class="img-fluid w-100" src="/imgPecas/{{ pecas.0.imagem }}" alt="" />
                            <div class="p_icon">
                                <a href="/pecas/detalhes/{{ pecas.0.id }}">
                                    <i class="ti-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-btm">
                            <a href="#" class="d-block">
                                <h4>{{ pecas.0.codigo }}</h4>
                            </a>
                            <div class="mt-3">
                                <span class="mr-4">${{ pecas.0.preco }}</span>
                                <del>${{ pecas.0.preco }}</del>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <div class="product-img">

                            <img class="img-fluid w-100" src="/imgPecas/{{ pecas.1.imagem }}" alt="" />
                            <div class="p_icon">
                                <a href="/pecas/detalhes/{{ pecas.1.id }}">
                                    <i class="ti-eye"></i>
                                </a>

                            </div>
                        </div>
                        <div class="product-btm">
                            <a href="#" class="d-block">
                                <h4>{{ pecas.1.codigo }}</h4>
                            </a>
                            <div class="mt-3">
                                <span class="mr-4">${{ pecas.1.preco }}</span>
                                <del>${{ pecas.1.preco }}</del>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <div class="product-img">

                            <img class="img-fluid w-100" src="/imgPecas/{{ pecas.2.imagem }}" alt="" />
                            <div class="p_icon">
                                <a href="/pecas/detalhes/{{ pecas.2.id }}">
                                    <i class="ti-eye"></i>
                                </a>
                            
                            </div>
                        </div>
                        <div class="product-btm">
                            <a href="#" class="d-block">
                                <h4>{{ pecas.2.codigo }}</h4>
                            </a>
                            <div class="mt-3">
                                <span class="mr-4">${{ pecas.2.preco }}</span>
                                <del>${{ pecas.2.preco }}</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Feature Product Area =================-->

    <!--================ Offer Area =================-->
    <section class="offer_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="offset-lg-4 col-lg-6 text-center">
                    <div class="offer_content">
                        <h3 class="text-uppercase mb-40">Peças Originais</h3>
                        <h2 class="text-uppercase">50% off</h2>
                        <a href="#" class="main_btn mb-20 mt-5">Descubra</a>
                        <p>Tempo Limitado</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Offer Area =================-->

    <!--================ New Product Area =================-->
    <section class="new_product_area section_gap_top section_gap_bottom_custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="main_title">
                        <h2><span>Produtos Recentes</span></h2>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="new_product">
                        <div class="product-img">
                            <img class="img-fluid" src="/imgPecas/{{ pecas.3.imagem }}" alt="" />
                        </div>
                        <h4>${{ pecas.3.preco }}</h4>
                        <a href="#" class="main_btn">Adicionar</a>
                    </div>
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img class="img-fluid w-100" src="/imgPecas/{{ pecas.4.imagem }}" alt="" />
                                    <div class="p_icon">
                                        <a href="/pecas/detalhes/{{ pecas.4.id }}">
                                            <i class="ti-eye"></i>
                                        </a>
                                     
                                    </div>
                                </div>
                                <div class="product-btm">
                                    <a href="#" class="d-block">
                                        <h4>{{ pecas.4.codigo }}</h4>
                                    </a>
                                    <div class="mt-3">
                                        <span class="mr-4">${{ pecas.4.preco }}</span>
                                        <del>${{ pecas.4.preco }}</del>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img class="img-fluid w-100" src="/imgPecas/{{ pecas.5.imagem }}" alt="" />
                                    <div class="p_icon">
                                        <a href="/pecas/detalhes/{{ pecas.5.id }}">
                                            <i class="ti-eye"></i>
                                        </a>
                                       
                                    </div>
                                </div>
                                <div class="product-btm">
                                    <a href="#" class="d-block">
                                        <h4>{{ pecas.5.nome }}</h4>
                                    </a>
                                    <div class="mt-3">
                                        <span class="mr-4">${{ pecas.5.preco }}</span>
                                        <del>${{ pecas.5.preco }}</del>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img class="img-fluid w-100" src="/imgPecas/{{ pecas.6.imagem }}" alt="" />
                                    <div class="p_icon">
                                        <a href="/pecas/detalhes/{{ pecas.6.id }}">
                                            <i class="ti-eye"></i>
                                        </a>
                                        
                                    </div>
                                </div>
                                <div class="product-btm">
                                    <a href="#" class="d-block">
                                        <h4>{{ pecas.6.codigo }}</h4>
                                    </a>
                                    <div class="mt-3">
                                        <span class="mr-4">${{ pecas.6.preco }}</span>
                                        <del>${{ pecas.6.preco }}</del>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="single-product">
                                <div class="product-img">
                                    <img class="img-fluid w-100" src="/imgPecas/{{ pecas.7.imagem }}" alt="" />
                                    <div class="p_icon">
                                        <a href="/pecas/detalhes/{{ pecas.7.id }}">
                                            <i class="ti-eye"></i>
                                        </a>
                                       
                                    </div>
                                </div>
                                <div class="product-btm">
                                    <a href="#" class="d-block">
                                        <h4>{{ pecas.7.nome }}</h4>
                                    </a>
                                    <div class="mt-3">
                                        <span class="mr-4">${{ pecas.7.preco }}</span>
                                        <del>${{ pecas.7.preco }}</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End New Product Area =================-->







{% endblock %}

{% block footer %} 

    {%include 'footer.twig'%} 

{% endblock %}
