{% extends "base.html" %}

{% block header %} {% include 'main-menu.twig' %} {% endblock %}


{% block conteudo %}


    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Aplicação - {{ maquina.modelo }}</h2>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">


                    <div class="latest_product_inner">
                        <div class="row">
                            {% for pec in pecas %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-product">
                                        <div class="product-img">

                                            <img class="img-fluid w-100" src="/imgPecas/{{ pec.imagem }}" alt="" />
                                            <div class="p_icon">
                                                <a href="/pecas/detalhes/{{ pec.id }}">
                                                    <i class="ti-eye"></i>
                                                </a>
                                                
                                                   
                                            </div>
                                        </div>
                                        <div class="product-btm">
                                            <a href="#" class="d-block">
                                                <h4>{{ pec.nome }}</h4>
                                            </a>
                                            <div class="mt-3">
                                                <span class="mr-4">${{ pec.preco }}</span>
                                                <del>${{ pec.preco }}</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Filtrar Por Aplicação</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for maq in aplicacoes %}
                                        <li>
                                            <a href="/pecas/listar-categorias/{{ maq.id_maquina }}">{{ maq.modelo }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
{% block footer %} 

    {%include 'footer.twig'%} 

{% endblock %}
