{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block header %}
    {% include 'main-menu.twig' %}
{% endblock %}

{% block conteudo %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2 id="titulo">Login</h2>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="login-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2" id="log">
                    <form id="login">
                        <img class="img-responsive" alt="logo" src="img/logooo.png">
                        <input type="email" class="form-control input-lg" placeholder="Email" name="email">
                        <input type="password" class="form-control input-lg" placeholder="Password" name="senha">
                        <label><a href="">Esqueceu a senha?</a></label>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <p>Não tem uma conta <a href="#cad" onclick="cadastro()">Criar conta</a></p>
                        <div id="retorno"></div>
                        <div id="processando" style="display: none"> 
                            <img src="../img/trator.gif" alt=""/>
                        </div>

                    </form>
                </div>
                <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2" id="cad" style="display: none">

                    <h3>Cadastro</h3>
                    <form class="row contact_form" id="cadastro">
                        <div class="col-md-12 form-group">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="fisica">
                                    Pessoa Física   
                                </label>
                                <input class="form-check-input" type="radio" name="tipo" id="fisica" value="fisica" checked>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="juridica">
                                    Pessoa Juridica   
                                </label>
                                <input class="form-check-input" type="radio" name="tipo" id="juridica" value="juridica">
                            </div>


                        </div>

                        <div class="col-md-6 form-group p_star">
                            <input
                                type="text"
                                class="form-control"
                                id="nome"
                                name="nome"
                                placeholder="Primeiro Nome"
                                >
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text"
                                   class="form-control"
                                   id="sobrenome"
                                   name="sobrenome"
                                   placeholder="Sobrenome">

                        </div>

                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="documento" name="documento" placeholder="CPF" >
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input
                                type="text"
                                class="form-control"
                                id="number"
                                name="fone"
                                placeholder="Fone"
                                onkeypress="$(this).mask('(00) 0.0000-0000')"
                                >
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Endereço de email"
                                >

                        </div>
                        <div class="col-md-9 form-group p_star">
                            <input
                                type="text"
                                class="form-control"
                                id="add1"
                                name="rua"
                                placeholder="Rua:"
                                >
                        </div>
                        <div class="col-md-3 form-group p_star">
                            <input
                                type="text"
                                class="form-control"
                                id="add1"
                                name="numero"
                                placeholder="N°:"
                                >
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input
                                type="text"
                                class="form-control"
                                id="add2"
                                name="bairro"
                                placeholder="bairro:"
                                >
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input
                                type="text"
                                class="form-control"
                                id="city"
                                name="cidade"
                                placeholder="Cidade:"
                                >
                        </div>
                        <div class="col-md-4 form-group">
                            <input
                                type="text"
                                class="form-control"
                                id="zip"
                                name="estado"
                                placeholder="Estado"
                                >
                        </div>
                        <div class="col-md-4 form-group">
                            <input
                                type="text"
                                class="form-control"
                                id="zip"
                                name="pais"
                                placeholder="País"
                                >
                        </div>
                        <div class="col-md-4 form-group">
                            <input
                                type="text"
                                class="form-control"
                                id="zip"
                                name="cep"
                                placeholder="Cep"
                                onkeypress="$(this).mask('00000-000')"
                                >
                        </div>

                        <div class="col-md-12 form-group">
                            <input
                                type="password"
                                class="form-control"
                                id="zip"
                                name="senha"
                                placeholder="Cadastre uma senha"
                                >
                        </div>

                        <div class="col-md-12 form-group">
                            <input
                                type="password"
                                class="form-control"
                                id="zip"
                                name="verifica-senha"
                                placeholder="Repita a senha"
                                >
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                            <div id="retornoCad"></div>
                            <p>  Ja tem uma conta? <a href="#cad" onclick="login()">Login</a></p>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>       

{% endblock %}


{% block footer %} 

    {%include 'footer.twig'%} 

{% endblock %}