{% block conteudo %}
    <header class="header_area">
        <div class="top_menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                    </div>
                    <div class="col-lg-5">
                        <div class="float-right">
                            <ul class="right_side">
                                {% if administrador %}
                                    <li>
                                        <a href="/admin/pecas">
                                            Adminstrar Pecas
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="/admin/pecas">
                                        Adminstrar Pecas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light w-100" >
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/">
                        <img src="/img/logooo.png" alt="" class="img img-responsive"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                        <div class="row w-100 mr-0">
                            <div class="col-lg-7 pr-0">

                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item submenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                           aria-expanded="false">Aplicação</a>
                                        <ul class="dropdown-menu">
                                            {% for ap in aplicacoes %}
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/pecas/listar-categorias/{{ ap.id_maquina }}">{{ ap.modelo }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Contato</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"><input class="form-control" id="pesquisar" type="search" placeholder="Pesquisar Código" aria-label="Pesquisar"></a>
                                        <a href="#" onclick="pesquisar()" class="nav-link"><i class="ti-search" aria-hidden="true"></i></a>
                                        <p id="retorno" style="display: none"></p>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-5 pr-0">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">


                                    <li class="nav-item">
                                        <a href="/carrinho/listar-pecas/" class="icons">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </li>
                                    {% if user %}
                                        <li class="nav-item submenu dropdown">
                                            <a class="icons">
                                                <i class="ti-user" aria-hidden="true"></i>
                                                {{ user.0.nome }}
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/Pedidos">Pedidos</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/login/sair/">Sair</a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="nav-item submenu dropdown">
                                            <a class="icons" href="/login/">
                                                <i class="ti-user" aria-hidden="true"></i>
                                                Login
                                            </a>
                                        </li>
                                    {% endif %}


                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div> 
    </header>
{% endblock %}
